<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Smart Invest</title>
   {% load static %}
  <!-- Custom fonts for this template-->
  <link href=" {% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">


  <!-- Page level plugin CSS-->
  <link href=" {% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
<!--<link href="css/login.css" rel="stylesheet">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <!--<script src="../sendformdata.js"></script>-->

 <script src="{% static 'js/projectjs/getmultiple-trigger-name.js' %}"></script>
 <script src="{% static 'js/projectjs/getinstruments.js' %}"></script>
 <script src="{% static 'js/projectjs/getorderinstruments.js' %}"></script>
 <script src="{% static 'js/projectjs/p2p1symbolone.js' %}"></script>
 <script src="{% static 'js/projectjs/p2p1symboltwo.js' %}"></script>
 </head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{% url 'home' %}">Smart Invest</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" style="visibility: hidden;">
    {% csrf_token %}

      <div class="input-group">
        <!--<input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">-->
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
<!--      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!--<i class="fas fa-envelope fa-fw"></i>-->
          <p style="font-size:20px">{{current_user}}</p>
          <!--<span class="badge badge-danger"></span>-->
        </a>
<!--        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <!--<a class="dropdown-item" href="#">Settings</a>-->
          <!--<a class="dropdown-item" href="#">Activity Log</a>-->
          <div class="dropdown-divider"></div>
          <!--<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>-->
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">
 
   <!------------ edit: Sidebar --------  -->     

      <nav class="sidebar" >
          <a class="nav-link" href="{% url 'home' %}"></a>
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <ul>
                {% comment %} <li class="active"><a href="{% url 'home' %}">Dashboard</a></li> {% endcomment %}
                <li>
                    <a href="#" class="feat-btn" style="color:white;">Individual
                        <span class="fas fa-caret-down first"></span>
                    </a>
                    <ul class="feat-show">
                        <li><a href="{% url 'home' %}">Dashboard</a> </li>

                        <li> <a href="{% url 'save_multiple_trigger' %}" >  Add Trigger</a> </li>
                        <li> <a href="{% url 'save_multiple_order' %}" > Add Order</a> </li>
                        <li> <a href="{% url 'trigger_list' %}" > Trigger List</a> </li>
        
                    </ul>
                </li>
                <li>
                    <a href="#" class="serv-btn" style="color:white;">Group<span class="fas fa-caret-down second"></span></a>
                        <ul class="serv-show">
                            <li> <a href="{% url 'groups_order_listing' %}" > Group Dashboard</a> </li>
                            <li> <a href="{% url 'create_group' %}" >Create Group</a> </li>
                            <li> <a href="{% url 'insert_group_trigger' %}" > Add Trigger</a> </li>
                            <li> <a href="{% url 'insert_group_order' %}" > Add Order</a> </li>
                            <li> <a href="{% url 'group_listing' %}" > Group List</a> </li>
                            {% comment %} <li> <a href="{% url 'group_trigger_listing' %}" >  Group Trigger List</a> </li> {% endcomment %}
                        </ul>
                </li>
                <li>
                    <a href="{% url 'user_logout' %}" style="color:white;padding-left:12px;"><i class="fa fa-sign-out" >  </i>Log Out</a>
                </li>
            </ul>
      </nav>
      
      <!------------ edit: Sidebar --------  -->  

<div id="content-wrapper">
    <div class="card mb-3">
          <div class="card-header">
           
           <h2><b>Triggers</b></h2></div>
           </div>
     <div class="table-responsive">
   <table class="table table-bordered " id="tablegrouplisting"  width="100%" cellspacing="0">
   
      <tr>
       <th style="background-color:#FFA500" id="snos">S.no</th>
       <th style="background-color:#FFA500" id="date"><a>Date/Time</a></th>
       <th style="background-color:#FFA500">Trigger</th>
       <th style="background-color:#FFA500">Trigger Instrument</th>
       <th style="background-color:#FFA500">Trigger Condition</th>
       <th  style="background-color:#FFA500">Edit order</th>
       <th style="background-color:#FFA500">Delete order</th>
      </tr>
      {% for i in triggers %} 
      <tr>
        <td></td>
         <td>{{i.0}}</td>
         <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <input type="number" id="trigger_id" value={{i.4}} hidden>
     
        <th><a href="update/{{i.4}}"><button type="button" class="btn btn-info">Edit</button></a></th>
        <th><a ><button type="button" class="btn btn-info" onclick="deletetrigger('{{i.4}}')">Delete</button></a></th>

      {% comment %} </tr>
          <tr>
        <td></td>
         <td>{{i.0}}</td>
         <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <input type="number" id="trigger_id" value={{i.4}} hidden>
     
        <th><a href="update/{{i.4}}"><button type="button" class="btn btn-info">Edit</button></a></th>
        <th><a ><button type="button" class="btn btn-info" onclick="deletetrigger({{i.4}})">Delete</button></a></th>

      </tr> {% endcomment %}
      {% endfor %}
     </table>
     </div>
     </div>

       <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            
            <span>Copyright ©Smart Invest 2020</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>




  <!-- Bootstrap core JavaScript-->
  <link href=" {% static "vendor/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet">

  <script  src="{% static 'vendor/jquery/jquery.min.js'  %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Page level plugin JavaScript-->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script> 
  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>
  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <!--<script src="js/demo/chart-area-demo.js"></script>-->
 <script src="{% static 'js/custom.js' %}"></script>
 <script src="{% static 'js/projectjs/newtestmultile_data.js' %}"></script>

 <script>
    $('#snos').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

  </script>

<script>
    $('#date').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).text() }

  </script>
 <script>

      $('.feat-btn').click(function(){
        $('nav ul .feat-show').toggleClass("show1");
        $('nav ul .first').toggleClass("rotate1");
      });
      $('.feat-btn').click(function(){
        $('nav ul .feat-show').toggleClass("show");
     
      });
      $('.serv-btn').click(function(){
        $('nav ul .serv-show').toggleClass("show1");
        $('nav ul .second').toggleClass("rotate");
      });
      $('nav ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });
    </script>

    <script >
    var addSerialNumber = function () {
    var k  = 0;
    $('#tablegrouplisting tr').each(function(k) {
        $(this).find('td:nth-child(1)').html(k);
    });
};
addSerialNumber();
  </script>

    




<!-- <script>
     $(document).ready(function(){
        $.getJSON("", function(data){
        var groupdata='';
        $.each(data, function(key, value){
            
           groupdata += '<tr>'; 
           groupdata += '<td>'+value.group_name+'</td>';
           groupdata += '<td>'+value.group_name+'</td>';
           groupdata += '<tr>';
    
    
        });
        $('#group_data').append(groupdata);
        }); 
         
     });
 </script>-->

   <script>

              function deletetrigger(id){ 


          debugger;
             alert(id);
           if(confirm("Are you sure you want to delete ?")) {  
               $.ajax({
                   url:"http://127.0.0.1:8000/delete_trigger/"+id,
                   method:"POST",
                  data:JSON.stringify
                  ({
                        "data":{"id":id}
                   }),
                  
                  dataType: "json",
                  contentType: "application/json",
                  //data:'id='+id,  

                    success: function(result){
                    if(result.status=="success"){
                       // window.location.reload();
                       alert("Trigger deleted sucessfully.") 
                       window.location.reload();      
                    }
                    else{
                       alert("Error occured !");
                    }

                   

                   }
                   
               });
         
     
          }

      }
      
                
        

        </script>

 
 
</body>

</html>
