<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"></script>-->
        <script>
        alert("callback url");
          $(document).ready(function(){
           $.ajax({
            type: "GET",
            url: "http://127.0.0.1:8000/",
        //      url: "http://103.159.179.108/",
            success: function(result){
                alert(result.content)
                if(result.status=="success")
                {
                 window.location.replace(result.content)
                }
            }
        });
        });
        </script>
    </head>
    
    
</html>
