<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> {% endcomment %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  
  
  <table class="table table-striped" width="100%" cellspacing="0">
    <thead>
      <tr>
        {% comment %} <th>S.no</th> {% endcomment %}
        <th>Date and Time</th>
        <th>Trigger</th>
        <th>Symbol</th>
        <th>Trigger Condition</th>
        <th>Order</th>
        <th>Order Symbol</th>
        <th>BUY/SELL</th>
        <th>Qty.</th>
        <th>Product type</th>

        {% comment %} <th>Instrument</th> {% endcomment %}
        
      </tr>
    </thead>
    <tbody>
      <tr>

{% for i in triggers %}
      <tr>
        <td>{{i.0}}</td>
        <td>{{i.1}}</td>
        <td>{{i.2}}</td>
        <td>{{i.3}}</td>
        <td>{{i.4}}</td>
        <td>{{i.5}}</td>
        <td>{{i.6}}</td>
        <td>{{i.7}}</td>
        <td>{{i.8}}</td>
        {% comment %} <td>{{i.9}}</td>
        <td>{{i.10}}</td>
       {% endcomment %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
